$btn-color: #2196F3;
$main-i-color:#afb1b8;
$hover-color: #2196F3;
$title-text-color: #212121;
$main-bg-color: #ffffff;
$primary-text-color: #757575;
$icon-bg-color: #f5f4fa;
$pre-title-bg: rgba(47, 48, 58, 0.8);
$footer-text-color:rgba(255, 255, 255, 0.6);
$footer-bg-icon: rgba(255, 255, 255, 0.1);
$modal-bg-color: rgba(0, 0, 0, 0.2); 
$hero-bg-color: rgba(47, 48, 58, 0.4);
$main-icon-black-part: #000000; 
$cubic-rubik: cubic-bezier(0.4, 0, 0.2, 1);
$footer-bg-color: #2F303A;
$footer-bg-form-input: rgba(255, 255, 255, 0.3);
$footer-shadow-input: rgba(0, 0, 0, 0.15);
$header-border: #ececec;
$portofolio-btn-shadow-dark: rgba(0, 0, 0, 0.12);
$portofolio-btn-shadow-light: rgba(0, 0, 0, 0.08);
$wraper-bg-color: rgba(33, 150, 243, 0.9);
$portfolio-element-field-color: #eeeeee;
$modal-bg:rgba(0, 0, 0, 0.2);
$modal-border: rgba(0, 0, 0, 0.1);
$coment-area: rgba(33, 33, 33, 0.2);